@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0b0c0c;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

header {
    padding: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    user-select: none;
    color: white;
    justify-content: space-between;
    background-color: #0b0c0c;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-left {
    margin-left: 20px;
}

.header-right {
    margin-right: 20px;
}

.header-text {
    width: 100px;
    opacity: 1 !important;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
}

header a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

main .me {
    margin-top: 50px;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;
    display: flex;
    user-select: none;
    border-radius: 400px;
}

.mainin-maini {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #1C1C1C;
    padding: 40px 20px;
    box-sizing: border-box;
}

.ben-kimim {
    text-align: center;
    margin-top: 40px;
    width: 500px;
    font-size: 1.2rem;
    color: white;
    padding: 0 20px;
}

footer {
    height: 200px;
    background-color: #0b0c0c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 20px;
}

.social-media-footer {
    font-size: 30px;
}

.footer-text {
    margin: 5px 0;
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 768px) {
    header {
        height: 70px;
    }

    .header-text h1 {
        font-size: 1.5rem;
    }

    .mainin-maini {
        flex-direction: column;
    }

    .image {
        margin-bottom: 20px;
    }

    .ben-kimim {
        width: 80%;
    }

    .footer {
        height: auto;
    }

    .social-media-footer {
        font-size: 20px;
        margin: 10px 0;
    }
}
