@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    padding: 0;
}

body{
    background-color: #0b0c0c;
    overflow-x: hidden; /* Kaydırma çubuklarını kaldırır */
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

header{
    padding: 0;
    height: 300px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    user-select: none;
    color: white;
    justify-content: space-between;
    background-color: #0b0c0c;
}



.header-left{
    margin-left: 200px;
    display: flex;
    text-align: center;
    align-items: center;
}


.header-right{
    display: flex;
    margin-right: 200px;
}

.header-text{

    width: 100px;
    opacity: 1 !important;
    cursor: pointer;
    color: white;
    text-decoration: none; /* Alt çizgi olmadan */
    position: relative;
}

header a {
    text-decoration:none;
    text-align: center;
    color:white;   
}
 
a{
    text-decoration: none;
    color: white;
}

main .me{
    margin-left: 100px;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 300px;
    display: flex;
    user-select: none;
    border-radius: 400px;
}

.mainin-maini{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C;
    min-height: 500px;
}

.ben-kimim{
    text-align: center;
    margin-top: 110px;
    width: 500px;
    font-size: x-large;
    color: white;
}


footer {
    height: 200px;
    background-color: #0b0c0c;
    display: flex;
    align-items: center; /* Yatayda ortalama */
    flex-direction: column; /* Alt alta yerleştirme */
    justify-content: center; /* Dikeyde ortalama */
    color: white;
    padding: 0;
    width: 100%;
}

.social-media-footer{
    font-size: 30px;
}

.footer-text {
    margin: 0px 0; /* Elemanlar arasında dikey boşluk */
}



@media (max-width: 700px) {
    
    *{font-size: medium;}

    body{
        background-color: #0b0c0c;
    }
    
    header{
        justify-content: center; /* Elemanları yatayda ortala */
        flex-wrap: nowrap; /* Elemanların alt satıra geçmesini engelle */
        gap: 15px; /* Elemanlar arasında boşluk oluştur */
    }
    
    
    
    .header-left{
        display: flex;
        text-align: center;
        align-items: center;
    }
    
    .header-center{
        font-size: small;
        margin-left: 45px;
        margin-right: 45px;
    }

    .header-right{
        display: flex;
    }
    
    .header-text{
        width: 100px;
        opacity: 1 !important;
        cursor: pointer;
        color: white;
        text-decoration: none; /* Alt çizgi olmadan */
        position: relative;
    }
    
    header a {
        text-decoration:none;
        text-align: center;
        color:white;   
    }
     
    a{
        text-decoration: none;
        color: white;
    }
    
    main .me{
        margin-left: 100px;
        margin-top: 100px;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 300px;
        display: flex;
        user-select: none;
        border-radius: 400px;
    }
    
    .mainin-maini{
        width: 100%;
        height: 490px;
        display: flex;
        justify-content: space-around;
        background-color: #1C1C1C;
        min-height: 500px;
    }
    
    .ben-kimim{
        text-align: center;
        margin-top: 110px;
        width: 500px;
        font-size: x-large;
        color: white;
    }
    
    
    footer {
        height: 200px;
        background-color: #0b0c0c;
        display: flex;
        align-items: center; /* Yatayda ortalama */
        flex-direction: column; /* Alt alta yerleştirme */
        justify-content: center; /* Dikeyde ortalama */
        color: white;
        padding: 0;
        width: 100%;
    }
    
    .social-media-footer{
        font-size: 30px;
    }
    
    .footer-text {
        margin: 0px 0; /* Elemanlar arasında dikey boşluk */
    }
}
